_build
_tracks

opa-debug-js

*.opp
*.opx
*.opx.broken
*.dump
*.api
*.api-txt
*.exe
*.log
*.iml
.gradle
.idea/workspace.xml
.idea/libraries
.DS_Store
build
captures
.externalNativeBuild
local.properties

