_build
_tracks

opa-debug-js

*.opp
*.opx
*.opx.broken
*.dump
*.api
*.api-txt
*.exe
*.log
*.iml
FOIRun/.gradle
FOIRun/.idea/workspace.xml
FOIRun/.idea/libraries
.DS_Store
FOIRun/build
FOIRun/captures
.externalNativeBuild
local.properties

